<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/media.css">
    <link rel="icon" href="/static/images/favicon.svg" sizes="any" type="image/svg+xml">
    <title>Error: {{ErrHeader}}</title>

</head>
<body>
    <header class="mini-header">
        <img src="/static/images/logo.svg" alt="Logo" class="logo">
    </header>
   

    <div class="section errorbody">
        <div class="cont-block">
            <div class="column">

                <h1>Restore password</h1>
                 <p>Send an <a href="mailto:academy@yem.digital">E-mail</a> to our support team to request the password restore</p>

                <button class="btn-main btn-dark previouslocation_btn">Go back</button>
        </div>
    </div>
    <footer>
        <div class="footer-items">
           <span class="tech">FREEZME © All right reserved 2020</span>
           <span class="tech">Created ty <a href="https://www.behance.net/tony_yemelyanov" target="_blank">Tony Yemelyanov</a> </span>
        </div>
    </footer>

    <script src="/static/error.js"></script>


</body>
</html>